<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPobjXLEomH2GWJafk2JB89lCRr-QAPIU</string>
	<key>GCM_SENDER_ID</key>
	<string>1092108822444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.albaladiya.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>albaladiya-3c839</string>
	<key>STORAGE_BUCKET</key>
	<string>albaladiya-3c839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092108822444:ios:a122358b681e68b64ebc09</string>
</dict>
</plist>